/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/* Root Variables for Themes */
:root {
  /* THEME 1 */
  --main-background-color: hsl(222, 26%, 31%);
  --toggle-and-keypad-background-color: hsl(223, 31%, 20%);
  --action-button-background: hsl(225, 21%, 49%);
  --action-button-shadow: hsl(224, 28%, 35%);
  --screen-background-color: hsl(224, 36%, 15%);
  --equal-and-toggle-background: hsl(6, 63%, 50%);
  --text-color: hsl(0, 0%, 100%);
  --equal-key-active: hsl(6, 93%, 67%);
  --equal-key-shadow: hsl(6, 70%, 34%);
  --button-background-color: hsl(30, 25%, 89%);
  --button-background-shadow: hsl(28, 16%, 65%);
  --action-button-background-active: hsl(225, 51%, 76%);
  --button-text-color: hsl(221, 14%, 31%);
}

/* Theme 2 Variables */
.Theme-2 {
  --main-background-color: hsl(0, 0%, 90%);
  --toggle-and-keypad-background-color: hsl(0, 5%, 81%);
  --screen-background-color: hsl(0, 0%, 93%);
  --action-button-background: hsl(185, 42%, 37%);
  --action-button-shadow: hsl(185, 58%, 25%);
  --equal-and-toggle-background: hsl(25, 98%, 40%);
  --text-color: hsl(60, 10%, 19%);
  --equal-key-active: hsl(6, 93%, 67%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  --button-background-color: hsl(45, 7%, 89%);
  --button-background-shadow: hsl(35, 11%, 61%);
  --action-button-background-active: hsl(225, 51%, 76%);
  --button-text-color: hsl(60, 10%, 19%);
}

/* Theme 3 Variables */
.Theme-3 {
  --main-background-color: hsl(268, 75%, 9%);
  --toggle-and-keypad-background-color: hsl(268, 71%, 12%);
  --screen-background-color: hsl(268, 71%, 12%);
  --action-button-background: hsl(281, 89%, 26%);
  --action-button-shadow: hsl(285, 91%, 52%);
  --equal-and-toggle-background: hsl(176, 100%, 44%);
  --text-color: hsl(52, 100%, 62%);
  --equal-key-active: hsl(6, 93%, 67%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  --button-background-color: hsl(268, 47%, 21%);
  --button-background-shadow: hsl(290, 70%, 36%);
  --action-button-background-active: hsl(225, 51%, 76%);
  --button-text-color: hsl(60, 10%, 19%);
}

/* Reset Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'League Spartan', sans-serif;
  /* background-color: var(--main-background-color); */
  overflow-y: hidden;
}

/* Main Section Styles */
main {
  width: 32%;
  margin: 2% auto;
}

main h2,
p {
  color: var(--text-color);
}

.theme-number span,
.attribution {
  color: var(--text-color) !important;
}

/* Button Styles */
button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Calculator Styles */
#calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Margins */
.top-level-mg {
  margin-bottom: 5%;
}

/* Slider Styles */
.slider {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Calculator Screen Styles */
.calculator-screen {
  background-color: var(--screen-background-color);
  height: 6rem;
  border-radius: 8px;
  color: var(--text-color);
  font-size: 3rem;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  justify-content: end;
}

/* Calculator Keys Styles */
.calculator-keys {
  border-radius: 8px;
  background-color: var(--toggle-and-keypad-background-color);
  padding: 20px 20px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.calculator-key {
  padding: 1.5rem;
  height: 1rem;
  background-color: var(--button-background-color);
  font-size: 1.5rem;
  border-radius: 8px;
  font-family: inherit;
  box-shadow: 0 -5px 0 var(--button-background-shadow) inset;
}

.calculator-key:hover {
  background-color: var(--text-color);
}

/* Flex Alignment Center */
.flex_ai-c_jc-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Theme Slider Styles */
.theme-slider {
  gap: 0.7rem;
}

.theme-switch {
  background-color: var(--screen-background-color);
  width: 4rem;
  height: 1.4rem;
  border-radius: 1.6rem;
  position: relative;
}

.theme-switch input {
  display: none;
}

.theme-switch label::after {
  content: '';
  height: 100%;
  width: 2.25rem;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.theme-switch label:hover ~ .slider {
  background-color: var(--equal-and-toggle-background);
}

.theme-switch label:nth-of-type(1)::after {
  left: 0;
}

.theme-switch label:nth-of-type(2)::after {
  left: 24px;
}

.theme-switch label:nth-of-type(3)::after {
  right: 0;
}

.theme-switch input:checked ~ .slider {
  left: calc(-18px + 20px * (1 + var(--index, 0)));
}

.theme-switch .slider {
  background-color: var(--equal-and-toggle-background);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 3.25px;
  left: 5px;
  transition: left 200ms ease-in-out, background-color 200ms ease-in-out;
}

/* Flex Center Alignment */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: end;
}

/* Delete Button Styles */
.delete-btn {
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 -5px 0 var(--action-button-shadow) inset;
  /* color: #fff; */
}

.delete-btn:hover {
  background-color: var(--action-button-background-active);
}

/* Reset Button Styles */
.reset-btn {
  background-color: hsl(225, 21%, 49%);
  grid-column: span 2;
  color: #fff;
  /* box-shadow: 0 -5px 0 var(--action-button-shadow) inset; */
}

.reset-btn:hover {
  background-color: var(--action-button-background-active);
}

/* Equal Button Styles */
.equal-btn {
  background-color: var(--equal-and-toggle-background);
  grid-column: span 2;
  box-shadow: none;
  box-shadow: 0 -5px 0 var(--equal-key-shadow) inset;
  color: #fff;
}

.equal-btn:hover {
  background-color: var(--equal-key-active);
}

/* Attribution Styles */
.attribution {
  font-size: 16px;
  text-align: center;
  margin-top: 5%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
  main {
    width: 90%;
  }

  #calculator {
    margin-top: 15%;
  }

  .calculator-keys {
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .calculator-key {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .reset-btn,
  .equal-btn {
    grid-column: span 2;
  }

  .attribution {
    margin-top: 30%;
  }
}
